/* ----------------Home first Images Container------------------  */
.thumb-cont {
  margin-top: 40px;
  max-height: 500px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 12px;
}

.image-slider-cont {
  display: none;
  height: 300px;
  margin: 0 auto 40px;
}

.main-img {
  height: 100% !important;
  grid-column: 1/2 !important;
  grid-row: 1/3;
  padding: 0 40px 80px !important;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 242px;
  border-radius: 10px;
  grid-column: 2/3;
  padding: 0 10px 30px;
  background-size: cover;
}

.cover-title-conatiner {
  height: 58px;
  overflow: hidden;
  display: -webkit-box;
  /* Set the number of lines to be displayed */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cover-subheading {
  color: var(--cover-text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.bottom-line-cover {
  border: 1px solid var(--cover-bottom-line-color);
  width: 30px;
  margin-top: 10px;
}

.fcover {
  color: var(--cover-footer-color) !important;
}

.fcover span {
  color: unset !important;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin: 3% 0;
}

.bottom-line {
  border: 1px solid var(--title-line-color);
  width: 70px;
  margin-top: 10px;
}

/* ----------------- Horizontal tiles with image----------------  */
.himgs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.tile {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.tile:hover, 
.text-cont2:hover{
  transition: .2s;
  box-shadow: 0px 7px 22px -10px black;
}

.cover2 {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.text-cont {
  padding: 0 3vw 10px;
  color: #00000008;
  overflow: hidden;
  /* border: 1px solid black; */
}

.text-cont p {
  font-size: 1rem;
  color: #908d8d;
}

.subheading-container,
.p-container {
  height: 58px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical;
}

.subheading {
  color: #404040;
  font-size: 1.5rem;
  font-weight: 500;
}

.p-container {
  height: 130px;
  -webkit-line-clamp: 6;
}

.tile-foot-cover2 {
  margin-top: auto;
  padding: 0px 35px 20px;
  font-size: 0.8rem;
  color: #908d8d;
}

.tile-foot {
  padding: 18px 0 0 0;
  font-size: 0.8rem;
  color: #908d8d;
}

.tile-foot span {
  color: #404040;
}

.tile-foot-cover2 span {
  color: #404040;
}

/* -------------------Left side Container-------------------- */

.ls-container {
  width: 69%;
  padding: 0 10px;
  float: left;
  margin-bottom: 32px;
  /* border: 1px solid black; */
}

.ls-sub-cont {
  width: 100%;
  height: 160px;
  border-top: 1px solid #f0f0f0;
  margin: 26px 10px;
  display: flex;
  /* margin-bottom: 15px; */
}

.ls-sub-cont:hover{
  box-shadow: -5px 5px 18px -10px black;
  transition: .2s;
}

.ls-first {
  height: 190px;
  margin-top: 0;
}

.ls-first .ls-subheading {
  font-size: 1.5rem;
}

.ls-first .ls-subheading-container {
  height: 58px;
}

.ls-sub-img {
  width: 280px;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid black; */
}

.ls-sub-text-cont {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 25% 0 20px;
  /* border: 1px solid black; */
}

.ls-subheading-container,
.ls-p-container {
  height: 52px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical;
}

.ls-p-container p{
  margin: 0;
}

.ls-subheading {
  color: #404040;
  font-size: 1.3rem;
  font-weight: 500;
}

.ls-p-container {
  height: 72px;
  font-size: 0.8rem;
  -webkit-line-clamp: 4;
  color: #908d8d;
  padding-top: 10px;
}

.ls-tile-foot {
  margin-top: auto;
  font-size: 0.7rem;
  color: #908d8d;
}

.ls-tile-foot span {
  color: #404040;
  font-weight: 500;
}

/* -----------------Advertise-------------- */
.rs-ad-container {
  border: 1px solid black;
  height: 583px;
  width: 30%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* --------------------Top Posts--------------- */

.rs-tposts-container {
  float: right;
  /* border: 1px solid black; */
  width: 30%;
  /* margin-bottom: 8%; */
}

.rs-sub-cont {
  width: 100%;
  height: 105px;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  display: flex;
  margin-bottom: 15px;
}

.rs-sub-cont:last-child {
  border-bottom: none;
}

.rs-first {
  height: 200px;
}

.rs-first .ls-subheading {
  font-size: 1.5rem;
}

.rs-first .ls-subheading-container {
  height: 58px;
}

.rs-sub-img {
  width: 135px;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid black; */
}

.rs-sub-text-cont {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 15% 0 20px;
  /* border: 1px solid black; */
}

.rs-subheading-container {
  height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical;
}

.rs-subheading {
  color: #404040;
  font-size: 1rem;
  font-weight: 500;
}

.rs-tile-foot {
  margin-top: auto;
  font-size: 0.6rem;
  color: #908d8d;
}

.rs-tile-foot span {
  color: #404040;
  font-weight: 500;
}

.tp-first {
  flex-direction: column;
  height: 19rem;
}

.tp-first img {
  width: 100%;
}

.tp-first .rs-subheading-container {
  padding: 10px 0;
  height: 48px;
}

.tp-first .rs-sub-text-cont {
  padding: 0 15% 0 0;
}

/* --------------Main Image 2----------------- */
.ls-img-container {
  /* border: 1px solid black; */
  width: 69%;
  clear: left;
}

.main-img2 {
  display: flex;
  flex-direction: column;
  height: 458px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 2px;
  padding: 10px;
}

.cover-title-conatiner2 {
  height: 58px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical;
}

.cover2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 250px;
  border-radius: 10px;
  grid-column: 2/3;
  color: #ffffff;
  padding: 0 10px 30px;
  background-size: cover;
}

.cover-subheading2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.htext-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.text-cont2 {
  height: 112%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  color: #00000008;
  /* border: 1px solid black; */
}

.bottom-subheading-container,
.bottom-p-container {
  height: 54px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical;
}

.bottom-subheading-container {
  margin-bottom: 12px;
}

.bottom-subheading {
  color: #404040;
  font-size: 1.3rem;
  font-weight: 500;
}

.bottom-p-container {
  height: 50%;
  font-size: 0.8rem;
  -webkit-line-clamp: 6;
  color: #908d8d;
}

.bottom-tile-foot {
  margin-top: auto;
  font-size: 0.8rem;
  color: #908d8d;
}

.bottom-tile-foot span {
  color: #404040;
  font-weight: 500;
}

/* ----------------Load more--------------- */
.more {
  display: flex;
  color: #a2a2a2;
  align-items: center;
  padding: 0 15px;
  font-size: 0.8rem;
  gap: 5px;
  margin: 22px 0;
}

.more img {
  height: 13px;
}


@media screen and (max-width: 900px) {
  .ls-sub-text-cont{
    padding: 0 15% 0 20px;
  }
  .ls-sub-img{
    width: 20vw;
  }
  .ls-first{
    height: 170px;
  }
  .ls-sub-cont{
    height: 140px;
  }
  .ls-p-container{
    height: 56px;
    -webkit-line-clamp: 3;
  }
  .rs-ad-container{
    height: 50vw;
  }
  .ad{
    width: 230px;
  }
  .main-img2{
    height: 42vw;
  }
}
@media screen and (max-width: 500px) {
  .thumb-cont {
    display: none;
  }

  .image-slider-cont {
    margin-top: 20px;
    display: block;
  }

  .rs-ad-container {
    display: none;
  }

  .rs-tposts-container {
    width: unset;
  }

  .ls-container {
    width: 100%;
  }

  .ls-sub-img {
    width: 37vw;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .ls-sub-cont {
    height: 140px;
    padding: 20px 0;
  }

  .ls-first {
    height: 150px;
  }

  .ls-subheading {
    font-size: 1rem;
  }

  .ls-container {
    padding: 0;
  }

  .tile-foot-cover2{
    padding: 0px 0px 20px;
  }

  .ls-sub-text-cont,
  .rs-sub-text-cont {
    padding: 0 0 0 20px;
  }

  .ls-first .ls-subheading {
    font-size: 1.2rem;
  }

  .ls-first .ls-subheading-container {
    height: 48px;
  }

  .ls-subheading-container {
    height: 38px;
  }

  .ls-p-container {
    height: 42px;
    -webkit-line-clamp: 2;
  }

  .ls-first .ls-p-container {
    height: 42px;
  }

  .himgs-container {
    grid-template-columns: 1fr;
  }

  .ls-sub-cont{
    margin: 0;
  }

  .ls-img-container {
    display: none;
  }

  .htext-container {
    grid-template-columns: 1fr;
  }

  .cover2 {
    height: 25vh;
  }
}