.thumb-cont{
    margin-top: 40px;
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 12px;
}

.main-img{
    height: 80vh;
    /* background-color: red; */
    background-image: url("../assets/mountain1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.cover{
    height: 39vh;
    border-radius: 10px;
    /* border: 1px solid black; */
    grid-column: 2/3;
    background-color: green;
    color: #FFFFFF;
}

.cover.img1{
    grid-row: 1/2;
}

.cover.img2{
    grid-row: 2/3;
}

.img1, .img2{
    padding: 30px 0 0 10px;
}

.fcover{
    color: #FCFCFC !important;
    padding: unset !important;
}

.fcover span{
    color: unset !important;
}

.subtitle{
    font-size: 2rem;
    font-weight: 500;
    margin: 5% 0;
}

.bottom-line{
    border: 1px solid #F08080;
    width: 70px;
}

.himgs-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.tile{
    height: fit-content;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.cover2{
    background-color: red;
    border-radius: 10px;
    height: 220px;
}

.text-cont{
    padding: 10px 40px;
    color: #00000008;
    /* border: 1px solid black; */
}

.text-cont p{
    font-size: 1rem;
    color: #908D8D;
}

.subheading{
    color: #404040;
    font-size: 2rem;
}

.tile-foot{
    padding: 0px 30px 20px;
    font-size: .8rem;
    color: #908D8D;
}

.tile-foot span{
    color: #404040;
}

.ls-container{
    height: 500px;
    width: 69%;
    padding: 10px;
    float: left;
    border: 1px solid black;
}

.ls-sub-cont-first{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.ls-sub-cont{

}

.ls-sub-img-first{
    width: 150px;
    height: 100px;
    border: 1px solid black;
}

.ls-sub-img{

}

.rs-ad-container{
    height: 400px;
    width: 30%;
    border: 1px solid black;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs-tposts-container{
    float: right;
}

.ls-img-container{
    border: 1px solid black;
    height: 300px;
    width: 69%;
    clear: left;
}

.rs-tposts-container{
    float: right;
    border: 1px solid black;
    width: 30%;
    height: 400px;
}

.htext-container{
    display: flex;
    justify-content: center;
}

.text-cont2{
    width: 32%;
    height: fit-content;
    padding: 10px;
    padding: 10px 30px;
    color: #00000008;
    border: 1px solid black;
}

.text-cont2 p{
    font-size: 1rem;
    color: #908D8D;
}

.tile-foot2{
    padding: 25px 0;
    font-size: .8rem;
    color: #908D8D;
}

.tile-foot2 span{
    color: #404040;
}
